.w100percent {
  width: 100%;
}

.h100percent {
  height: 100%;
}

.df {
  display: flex;
}

.fdc {
  flex-direction: column;
}

.jc {
  justify-content: center;
}

.jsb {
  justify-content: space-between;
}

.jsa {
  justify-content: space-around;
}

.ac {
  align-items: center;
}
